{
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "plugins": ["jsx-control-statements"],
  "globals": {
    "__SERVER__": true,
    "__CLIENT__": true,
    "If": true,
    "Else": true,
    "For": true
  },
  "rules": {
    "new-cap": 0,
    "func-names": 0,
    "no-else-return": 0,
    "padded-blocks": 0,
    "jsx-quotes": [2, "prefer-double"],
    "react/prefer-es6-class": 0
  }
}
