{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["jsx-control-statements", "import"],
  "globals": {
    "__SERVER__": true,
    "__CLIENT__": true,
    "If": true,
    "Else": true,
    "For": true
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "app"]
    }
  },
  "rules": {
    "new-cap": 0,
    "func-names": 0,
    "no-else-return": 0,
    "jsx-quotes": [2, "prefer-double"],
    "react/prefer-es6-class": 0,
    "import/no-unresolved": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/default": 0,
    "import/export": 0
  }
}
