{
  "extends": "airbnb",
  "env": {
    "jasmine": true
  },
  "globals": {
    "__SERVER__": true,
    "__CLIENT__": true,
    "If": true,
    "Else": true,
    "For": true
  },
  "rules": {
    "prefer-const": 0,
    "new-cap": 0,
    "func-names": 0,
    "no-else-return": 0,
    "padded-blocks": 0
  }
}
