
// Import normalize css
@import 'normalize.css/normalize'

// Import our own modules
@import 'authentication'
@import 'footer'
@import 'homepage'
@import 'navbar'
@import 'static'

// Set the default font
body
  font-family: $body-font
  font-weight: $weight-normal

// Because border-box is awesome
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

// Standard link colors
a
  color: $blue-light
  text-decoration: none

