
// Import normalize css
@import 'normalize.css/normalize'

// Import our own modules
@import 'homepage'
@import 'navbar'

// Set the default font
body
  font-family: $body-font
  font-weight: $weight-normal

// Because border-box is awesome
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

