
@import 'variables/colors'
@import 'variables/fonts'
@import 'variables/globals'
@import 'variables/responsive'

// Height of the Pianoshelf logo
$navbar-logo-height: 90px

// Height of the Pianoshelf logo on mobile
$navbar-logo-height-mobile: 67.5px

// This is for the navbar at the top.
.navbar
  position: fixed
  top: 0
  left: 0
  z-index: 1
  height: $navbar-height-mobile + 2px
  background-color: #fff
  border-bottom: 2px solid $pianoshelf-blue-light
  transition: background-color 0.3s, border-color 0.3s
  +when-tablet
    height: $navbar-height + 2px

// This is for the the navbar that appears on the homepage (transparent navbar)
.navbar--homepage
  background-color: transparent
  border-color: transparent

// This is for the logo on the navbar.
.navbar__logo
  display: block
  width: $navbar-logo-height-mobile
  height: $navbar-logo-height-mobile
  position: absolute
  left: 0
  background-image: url('logo.svg')
  +when-tablet
    width: $navbar-logo-height
    height: $navbar-logo-height

// The staticly placed element behind the logo
.navbar__logo-buffer
  display: inline-block
  float: left
  width: $navbar-logo-height-mobile + 10px
  height: $navbar-height-mobile
  +when-tablet
    width: $navbar-logo-height + 10px
    height: $navbar-height

// This is for the title on the navbar
.navbar__title
  display: inline-block
  float: left
  line-height: $navbar-height-mobile
  font-size: 25px
  font-family: $title-font
  color: darken($pianoshelf-blue, 30%)
  font-weight: 300
  transition: color 0.2s
  +when-tablet
    line-height: $navbar-height
    font-size: 35px

.navbar__title--homepage
  color: #fff

// This is for the beta symbol
.navbar__title-beta
  display: inline-block
  float: left
  line-height: $navbar-height-mobile - 18px
  margin: 15px 10px 0 10px
  font-size: 12px
  transition: color 0.2s
  +when-tablet
    line-height: $navbar-height - 18px
    font-size: 14px
    margin: 18px 12px 0 12px

.navbar__title-beta--homepage
  color: #fff

// This is for buttons in the navbar
.navbar__button
  display: inline-block
  float: right
  text-decoration: none
  color: #000
  padding: 10px
  margin: 10px
  line-height: $navbar-height-mobile - 40px
  border-radius: 2px
  transition: color 0.2s, background-color 0.2s
  &:hover
    background-color: lighten($pianoshelf-blue, 20%)
    color: #000
  +when-tablet
    line-height: $navbar-height - 40px

// This is for buttons that should be highlighted in the navbar
.navbar__button--important
  background-color: lighten($green, 10%)
  &:hover
    background-color: $green
    color: #000

// This is for the buttons that appear on the homepage (transparent navbar)
.navbar__button--homepage
  background-color: transparent
  color: #fff




