
@import 'variables/responsive'

// Outer responsive container
.responsivecontainer
  width: 100%

// Inner responsive container
.responsivecontainer__inner
  width: 100%
  margin: auto
  max-width: $site-width
  position: relative

