
@import 'variables/colors'

/**
 * Button variables
 */

// Size of the border of a typical button
$button-border-width: 1px

// Border radius of a typical button
$button-border-radius: 0

/**
 * Useful color-based mixins
 */

=color-area($color, $textColor: $black)
  background-color: lighten($color, 15%)
  color: $textColor

=clickable($color, $textColor: $black)
  +color-area($color, $textColor)
  border: 1px solid transparent
  transition: 0.2s ease all
  color: $textColor
  &:hover
    border-color: $color
    color: $textColor
  &:active, &:focus
    border-color: darken($color, 10%)
    background-color: lighten($color, 5%)
    color: $textColor
    outline: none

=color-area-gradient($color, $textColor: $black)
  border-color: darken($color, 10%)
  background: linear-gradient(lighten($color, 16%), lighten($color, 10%))
  color: $textColor

=clickable-gradient($color, $textColor: $black)
  +color-area-gradient($color, $textColor)
  &:hover
    border-color: darken($color, 10%)
    background: linear-gradient(lighten($color, 20%), lighten($color, 14%))
    color: $textColor

/**
 * Button mixins
 */

=standard-borders
  border: $button-border-width solid
  border-radius: $button-border-radius
