
@import 'variables/colors'

/**
 * Button variables
 */

// Size of the border of a typical button
$button-border-width: 1px

// Border radius of a typical button
$button-border-radius: 0

/**
 * Useful color-based mixins
 */

=color-area($color, $textColor: $black)
  background-color: lighten($color, 15%)
  color: $textColor

=clickable($color, $textColor: $black)
  +color-area($color, $textColor)
  border: 1px solid transparent
  transition-duration: 0.2s
  transition-property: color, background-color, border-color
  color: $textColor
  &:hover
    border-color: $color
    color: $textColor
  &:focus
    border-color: darken($color, 10%)
    background-color: lighten($color, 5%)
    color: $textColor
    outline: none
  &:disabled
    color: $grey-text-normal
    border-color: $grey-normal
    background-color: $grey-light

