/**
 * This file contains all our color variables.
 */

$blue-light: #6AA4FF

$blue: #4E78BB
$green: #81E452
$orange: #FFC45B
$red: #F15674

$black: #000
$white: #fff

$grey-light: #eee
$grey-normal: #ddd

$grey-text-light: #bbb
$grey-text-normal: #999
$grey-text-dark: #666

// Third party
$facebook: #3B5998

