
// Import fonts from Google Fonts
@import url('http://fonts.googleapis.com/css?family=PT+Sans|Hind:300')

// Define site-wide fonts
$body-font: "PT Sans", sans-serif
$title-font: "Hind", sans-serif

// Define site-wide font sizes
$font-large: 40px

