/**
 * This file contains any global variables.
 */

// Height of the navbar
$navbar-height: 64px

// Height of the navbar on a mobile device
$navbar-height-mobile: 48px





/**
 * General variables
 */

// Size of the border of a typical button
$button-border-width: 2px

// Border radius of a typical button
$button-border-radius: 5px

